"*":
  autosave:
    enabled: true
  core:
    packagesWithKeymapsDisabled: [
      "tasks"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 8
  "exception-reporting":
    userId: "9e59685e-54eb-47d6-a8dc-3ff505558b19"
  tasks:
    baseMarker: "-"
