"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "autocomplete-plus"
      "autocomplete-html"
      "autocomplete-css"
      "autocomplete-atom-api"
      "autocomplete-snippets"
    ]
    packagesWithKeymapsDisabled: [
      "link"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "city-lights-syntax"
    ]
    titleBar: "custom"
  editor:
    atomicSoftTabs: false
    fontFamily: "InputMonoNarrow-Regular"
    fontSize: 17
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "9e59685e-54eb-47d6-a8dc-3ff505558b19"
  tasks:
    baseMarker: "-"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
